<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Tech Events</a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/events']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>All Events<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/events/new']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Create Event</a>
      </li>      
    </ul>
    <form class="form-inline  my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <a *ngIf="!authService.isAuthenticated()" class="nav-link" [routerLink] = "['user/login']">Login</a>
        <a *ngIf="authService.isAuthenticated()" class="nav-link" [routerLink] = "['user/profile']">Welcome {{authService.currentUser.firstName}}</a>
      </li>      
    </ul>
  </div>
</nav>